.msg-container{
    width: 100%;
    position: relative;
    margin: 10px 0;
}

.sender-msg{
    font-size: 1.22em;
    float: right;
    margin-bottom: 3vh;
    background-color: #000000;
    padding: 0.8vh 3vw;
    border-radius: 24px;
    color: white;
    display: block;
}

.receiver-msg{
    font-size: 1.22em;
    margin-bottom: 3vh;
    background-color:#8f62ff ;
    padding: 0.8vh 3vw;
    border-radius: 24px;
    color: white;
    max-width: 75%;
    display: block;
}