.sidebar-container{
    height: 100vh;
    width: 50px;
    background-color:rgba(214, 246, 250, 0.201);
    backdrop-filter: blur(1px);
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9999999999;
}
.icon-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}
.link{
    text-decoration: none;
}

.sidebar-iteams{
    font-size: 30px;
    font-weight:100;
    cursor: pointer;
    color: #b091ff;
    margin-top: 20px;
    padding: 2px;
}

@media screen and (max-width:480px) {
    .sidebar-container{
        height: 50px;
        width:100vw;
        background-color:rgba(198, 196, 196, 0.881);
        backdrop-filter: blur(1px);
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .icon-list{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction:row;
    }

    .sidebar-iteams{
        font-size: 25px;
        font-weight:100;
        cursor: pointer;
        color: #b091ff;
        margin-top:0px;
        padding: 2px;
    }
}