.chat-profile-container{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.LINK{
    display: flex;
    gap:15px;
}

.chats-body{
    display: flex;
    height: 10vh;
    gap:15px;
    margin-top: 5vh;
    cursor: pointer;
    width: 80%;
    padding: 1.5vh 1vw;
    background: #e0e0e0a1;
    box-shadow:  20px 20px 30px #bebebe2b,
            -20px -20px 30px #ffffff;
}


@media screen and (max-width:500px) {
    .chats-body{
        width: 92%;
    }
}