
.home-info-container{
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    flex-direction: column;
}

.curv-text{
    font-family: Disny;
    font-size: 2em;
    font-weight: 100;
    line-height: 0;
    color: #b091ff;
}

.main-heading{
    font-size: 4em;
}

.serch-btn{
    margin-top: 7vh;
}

.profile-container{
    margin-top: 10vh;
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}

.profile-left{
    height: 100%;
    width: 200px;
    background-color:#b091ff;
    overflow: hidden;
    display: flex;  
    align-items: center;
    justify-content: center;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius:100px;
    position: relative;
    border: none;
}

.profile-left img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   filter: grayscale(1);
   cursor: pointer;
   transition: all linear 0.4s;
     &:hover{
        transform: scale(1.3);
     }
}

.profile-right{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.profile-heading{
    font-size: 2.7em;
}

.profile-heading i{
    display: inline-block;
    transform: rotate(-180deg);
    color: #b091ff;
}

.basic-info-text{
    font-size: 1.2em;
    font-weight: 400;
    color: gray;
}

.profile-inner-info{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: absolute;
    bottom: 10%;
    right: 0%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features{
    position: relative;
    width: 100%;
    height: 5px;
    background:linear-gradient(to left,#b091ff,#5e5d5d);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
}

.features span{
     background-color: #b091ff;
     border-radius: 24px;
     padding: 0.3vh 4vw;
     font-size: 1em;
     font-weight: 900;
}

.features-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.features-container span i{
    display: inline;
    font-size: 1.7em;
    cursor: pointer;
        &:hover{
            color: #b091ff;
        }
}

@media screen  and (max-width:600px){
    .home-info-container{
        height: 50vh;
    }

    .main-heading{
        text-align: center;
        font-size: 3em;
    }

    .profile-container{
        height: 100vh;
        flex-direction: column;
        
    }
    
}