.feed-card-container{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.searchbar-container{
    height: 6vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
}

.serch-box{
    height: 100%;
    width: 45vw;
    border-radius: 4px;
    border-top-right-radius:0px;
    border-bottom-right-radius: 0px;
    font-size: 1.2em;
    transition: all 0.2s ease-in-out;
}

.seach-btn{
    height: 100%;
    width: 10vw;
    border-top-left-radius:0px;
    border-bottom-left-radius: 0px;
    font-size: 1.2em;
}

@media screen and (max-width:500px){
    .seach-btn{
        width: 20vw;
    }
    .serch-box{
        width: 55vw;
    }
}
